.ItemsCarrousel {
    font-family: sans-serif;
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    background-color: #FAD4D4;
    justify-content: center;
    height: 70vh;
  }
  
  .seperator {
    width: 100%;
  }
  
  .controls-wrapper {
    width: 100%;
  }
  
  .carousel-wrapper {
    width: 100%;
  }
  
  .rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 0px violet;
  }
  .titlecarroussel strong{
    font-size: Bold;
    width: 50px;
    height: 50px;
    color:#F47C7C;
    align-items: center;
  }
  .titlecarroussel p{
    margin-left: 20px;
  }